$primary-font-family: 'Inter', sans-serif;

$theme-page-background-color:#fff;

$theme-input-border-color:#e0e0e0;
$theme-input-placeholder-color:#777;
$theme-input-background-color:#f7f7f7;
$theme-input-text-color:#323232;
$theme-input-focus-border-color:rgb(28, 129, 172);

$theme-dropdown-border-color:#EAEAEA;
$theme-dropdown-border-blue-color:rgb(28, 129, 172);

$theme-dropdown-background-color:#FEFEFE;
$theme-dropdown-boxshadow:2px 3px 12.1px 0px rgba(177, 177, 177, 0.53);
$theme-dropdown-hover-background-color:#f7f7f7;
